.cart__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.639);
  z-index: 99999;
}

.cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: #fff;
  z-index: 999999;
}

.cart__close {
  width: 100%;
  height: 60px;
  font-size: 20px;
  padding: 10px 20px;
}

.cart__close span i {
  font-size: 1.1rem;
  background: #000000;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
.cart__item-list {
  height: calc(100vh - 140px);
  color: rgb(27, 20, 20);
  overflow-y: scroll;
}

.cart__subtotal {
  text-align: center;
  position: static;
  bottom: 0;
  left: 0;
  padding: 5px 20px;
  width: 100%;
  height: 100pv;
  background: #ebebeb;
}

.cart__details {
  text-align: center;
  position: static;
  bottom: 0;
  left: 0;  
  padding: 5px 20px;
  width: 100%;
  height: 100pv;
  background: #1a1a1a;
}

.cart__subtotal h5 {
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.cart__subtotal h5 span {
  font-size: 1.3rem;
  font-weight: 600;
}

.cart__details button {
  border: none;
  padding: 4px 20px;
  border-radius: 5px;
  background: #fff;
  color: #000000;
}

.cart__details button a {
  color: #212245;
  font-weight: 600;
}

.center {
  margin-top: 45%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 38%;
}

@media only screen and (max-width: 576px) {
  .cart {
    width: 300px !important;
  }
}
